*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  margin: 4rem 0;
  background-color: #EAEDED;
}

#splide1 .splide__slide{
  display: flex;
  justify-content: center;
}

#splide1 .splide__slide__container{
  width: 50vw;
  max-width: 400px;
  height: fit-content !important;
}

#splide1 .slide__content{
  margin: 1rem 0;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

#splide1 .slide-img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 24px;
}

#splide1 .splide__pagination__page {
  border-radius: 20px;
  width: 18px;
  height: 5px;
}

#splide1 .splide__arrow {
  border-radius: unset;
  background: unset;
}

#splide1 .splide__arrows .splide__arrow--prev {
  left: calc(50% - 300px);
}

#splide1 .splide__arrows .splide__arrow--next {
  right: calc(50% - 300px);
}

@media (max-width: 800px) {
  #splide1 .splide__arrow {
    display: none;
  }
}



#splide2 .menu_items {
  background-color: #F2F2F2;
  color: #2D3142;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  padding: 24px 0;
}

#splide2 .menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#splide2 .menu_item img {
  background-color: #D9D9D9;
  border-radius: 50%;
  width: 15vw;
  max-width: 150px;
  margin-bottom: 10px;
}

#splide2 .splide__slide{
  display: flex;
  justify-content: center;
}
#splide2 .splide__slide__container{
  width: 100%;
}
#splide2 .splide__pagination__page {
  border-radius: 20px;
  width: 18px;
  height: 5px;
}

#splide2 .splide__arrow {
  border-radius: unset;
  background: unset;
}

@media (max-width: 800px) {
  #splide2 .splide__arrow {
    display: none;
  }
}

@media (min-width: 1251px) {
  #splide2 .splide__arrows .splide__arrow--prev {
    left: calc(50% - 600px);
  }
  
  #splide2 .splide__arrows .splide__arrow--next {
    right: calc(50% - 600px);
  }
}